*.docx
*.docx#
*.json
*.synctex.gz
*.png
*.jpg
*.zip
*.x.gnuplot
*/books
*/octavePackages
*/nand2tetris
*/orCAD
*/defi2
*/__pycache__
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.mat
*.xml
# *.pdf
# */tpack.sty
MS211 - AT2 1.pdf
MS211 - AT3.pdf
MS211 - AT4.pdf
MS211 - AT5.pdf
Atividade8.pdf
Marcos Eduardo Valle Aula13.pdf
EM335 - P1 1S2021.pdf